<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangye.meetingfilms.cinema.dao.mapper.MoocCinemaTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yangye.meetingfilms.cinema.dao.entity.MoocCinemaT">
        <id column="UUID" property="uuid"/>
        <result column="cinema_name" property="cinemaName"/>
        <result column="cinema_phone" property="cinemaPhone"/>
        <result column="brand_id" property="brandId"/>
        <result column="area_id" property="areaId"/>
        <result column="hall_ids" property="hallIds"/>
        <result column="img_address" property="imgAddress"/>
        <result column="cinema_address" property="cinemaAddress"/>
        <result column="minimum_price" property="minimumPrice"/>
    </resultMap>
    <select id="listCinema" resultType="com.yangye.meetingfilms.cinema.controller.vo.CinemaInfoVO">
        select `brand_id`       as brandId,
               `area_id`        as areaId,
               `hall_ids`       as hallTypeIds,
               `cinema_name`    as cinemaName,
               `cinema_address` as cinemaAddress,
               `cinema_phone`   as cinemaTele,
               `img_address`    as cinemaImgAddress,
               `minimum_price`  as cinemaPrice
        from mooc_cinema_t
    </select>
</mapper>
